.main {
  font-size: 19px;
  background: #107eed; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #107eed 1%,
    #4e9ded 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #107eed 1%,
    #4e9ded 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #107eed 1%,
    #4e9ded 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#107eed', endColorstr='#4e9ded',GradientType=1 );

}

.navbar {
  margin-bottom: 0;
  /* background: #48bdc5; */
  font-size: 19px;
  background: #107eed; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #107eed 1%,
    #4e9ded 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #107eed 1%,
    #4e9ded 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #107eed 1%,
    #4e9ded 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#107eed', endColorstr='#4e9ded',GradientType=1 );

  border: none;
  border-radius: 0;
}

@media (max-width: 991px) {
  .navbar .navbar-nav {
    padding: 15px 0;
  }
}

.navbar .navbar-nav li > .nav-link {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 18px !important;
  transition: .3s;
}

@media (max-width: 991px) {
  .navbar .navbar-nav li > .nav-link {
    padding: 6px 18px !important;
    text-align: center;
  }
}

.navbar .navbar-nav li > .nav-link:hover {
  color: #fff;
  opacity: .7;
}

.navbar .navbar-nav li.active > a {
  background: transparent;
  font-weight: 600;
  text-decoration: underline;
}

.navbar .navbar-nav li.active > a:hover {
  background: transparent;
}

.dropdown-toggle::after {
  border: 0;
  margin-left: 6px;
  vertical-align: 1px;
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 11px;
  width: auto;
}

@media (min-width: 1200px) {
  .navbar .dropdown-menu {
    display: block;
    transition: 0.2s;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 0;
    border: 0;
    background-color: white;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
  }
  .navbar .dropdown-menu .dropdown-item {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar .dropdown:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 8px;
  }
}



/* .header-top {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header-top .top-left h6 {
  font-size: 15px;
  line-height: 26px;
  color: #777777;
  font-weight: 400;
  padding: 14px 0px;
  font-family: "Roboto", sans-serif;
}

.header-top .top-left .contact-links li {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #b2b2b7;
  margin-right: 40px;
  font-family: 'Open Sans', sans-serif;
}

.header-top .top-right .social-links {
  position: relative;
  display: inline-block;
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .header-top .top-right .social-links {
    padding-left: 0;
  }
}

.header-top .top-right .social-links li {
  display: inline-block;
}

.header-top .top-right .social-links li i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: -1px;
  font-size: 16px;
  color: #777777;
  text-align: center;
  border: 1px solid #ececec;
  transition: .3s;
}

.header-top .top-right .social-links li:hover i {
  color: #7b64cb;
  border-color: #7b64cb;
}

.header-uper {
  padding: 40px 0px;
}

.header-uper .contact-info {
  float: left;
}

@media (max-width: 991px) {
  .header-uper .contact-info {
    text-align: center;
  }
  .header-uper .contact-info .item {
    margin: 0 20px;
  }
}

.header-uper .contact-info .item {
  position: relative;
  display: inline-block;
  padding-left: 70px;
  margin-right: 40px;
}

.header-uper .contact-info .item .icon-box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  text-align: center;
  line-height: 57px;
  border: 1px solid #5ec5cc;
}

.header-uper .contact-info .item .icon-box i:before {
  color: #5ec5cc;
  font-size: 22px;
}

.header-uper .contact-info .item strong {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: #222222;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}

.header-uper .contact-info .item span {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  color: #777777;
  font-family: "Roboto", sans-serif;
}

.header-uper .right-side .link-btn {
  margin-left: 20px;
  margin-top: 5px;
} */
