  <section>
    <div class="container">
      <div class="user signinBx">
        <div class="imgBx">
          <img
            src="/assets/images/male dr 1.jpg"
            alt=""
          />
        </div>
        <div class="formBx">
          <form action="" [formGroup]="loginForm" onsubmit="return false;">
            <h2>Sign In</h2>
            <input type="text" formControlName="email" placeholder="Email Address" />
            <input type="password" formControlName="password" placeholder="Password" />
            <input type="submit" name="" value="Login" />
            <p class="signup">
              Don't have an account ?
              <a onclick="toggleForm();">Sign Up.</a>
            </p>
          </form>
        </div>
      </div>
      <div class="user signupBx">
        <div class="formBx">
          <form action="" [formGroup]="signupForm" onsubmit="return false;">
            <h2>Join HealthAssist</h2>
            <input type="text" formControlName="firstName" placeholder="First Name" />
            <input type="text" formControlName="lastName" placeholder="Last Name" />
            <input type="email" formControlName="email" placeholder="Email Address" />
            <select  formControlName="roleId">
                <option value="" disabled>Choose Role</option>
                <option *ngFor="let l of list" value="{{l.roleId}}">{{l.roleName}}</option>
            </select>
            <input type="password" formControlName="password" placeholder="Create Password" />
            <input type="password"  placeholder="Confirm Password" />
            <input type="submit" value="Sign Up" />
            <p class="signup">
              Already have an account ?
              <a onclick="toggleForm();">Sign in.</a>
            </p>
          </form>
        </div>
        <div class="imgBx">
          <img
            src="/assets/images/female dr.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

