<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-8 col-9 text-right m-b-20">
      <a
        [routerLink]="['../add-clinic']"
        class="btn btn-primary btn-rounded float-right"
        ><i class="fa fa-plus"></i> Add Clinic
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="card-block">
        <div class="table-responsive">
          <input type="button" mdbBtn color="primary" class="mb-3" rounded="true" id="btnExport" value="Export" />

          <table *ngIf="clinicList" id="tblCustomers" datatable [dtOptions]="dtOptions" class="row-border hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Clinic Name</th>
                <th>Timings</th>
                <th>Address</th>
                <th>Phone No</th>
                <th>Rating</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of clinicList">
                <th scope="row">{{ p.clinicId }}</th>
                <td>{{ p.clinicName }}</td>
                <td>{{ p.clinicTiming}}</td>
                <td>{{ p.address}}</td>
                <td>{{ p.phoneNo}}</td>
                <td>{{ p.rating}}</td>
                <!-- <a
                        class="dropdown-item"
                        [routerLink]="['/dashboard/edit-clinic', p.clinicId]"
                        ><mdb-icon fas icon="pencil-alt"></mdb-icon> &nbsp;
                        Edit</a
                      >

                      <a
                        class="dropdown-item"
                        (click)="delete(p.clinicId)"
                        data-toggle="modal"
                        data-target="#delete_patient"
                        ><mdb-icon fas icon="trash-alt"></mdb-icon> &nbsp;
                        Delete</a
                      > -->
                <td class="text-right">
                  <div class="dropdown dropdown-action">
                    <a
                      href="#"
                      class="action-icon dropdown-toggle"
                      data-toggle="dropdown"
                      aria-expanded="false"
                      ><i class="fa fa-ellipsis-v"></i
                    ></a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a
                        class="dropdown-item"
                        [routerLink]="['../edit-clinic', p.clinicId]"
                        ><mdb-icon fas icon="pencil-alt"></mdb-icon> &nbsp;
                        Edit</a
                      >
                      <a
                        class="dropdown-item"
                        (click)="delete(p.clinicId)"
                        data-toggle="modal"
                        data-target="#delete_patient"
                        ><mdb-icon fas icon="trash-alt"></mdb-icon> &nbsp;
                        Delete</a
                      >
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
