<input type="button" mdbBtn color="primary" class="mb-3" rounded="true" id="btnExport" value="Export" />

<table *ngIf="listAppointment" id="tblCustomers" datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Patient</th>
      <th>AppCreateDate</th>
      <th>Comment</th>
      <th>Clinic</th>
      <th>Refrence</th>
      <th>AppointmentDate</th>
      <th>AppointmentTime</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of listAppointment">
      <th scope="row">{{ a.appointmentId }}</th>
      <td>{{ a.patientName }}</td>
      <td>{{ a.appointmentCreateDate | date: "mediumDate" }}</td>
      <td>{{ a.comment }}</td>
      <td>{{ a.clinicName }}</td>
      <td>{{ a.reference }}</td>
      <td>{{ a.appointmentDate | date: "mediumDate" }}</td>
      <td>{{ a.appointmentTime }}</td>
      <td class="text-right">
        <div class="dropdown dropdown-action">
          <a
            href="#"
            class="action-icon dropdown-toggle"
            data-toggle="dropdown"
            aria-expanded="false"
            ><i class="fa fa-ellipsis-v"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a
              class="dropdown-item"
              styleClass="p-mr-2"
              data-toggle="modal"
              (click)="accept(a.appointmentId)"
              ><mdb-icon fas icon="check"></mdb-icon> &nbsp; Accept</a
            >
            <a
              class="dropdown-item"
              styleClass="p-mr-2"
              data-toggle="modal"
              (click)="reject(a.appointmentId)"
              ><mdb-icon fas icon="times"></mdb-icon> &nbsp; Reject</a
            >
            <a
              class="dropdown-item"
              styleClass="p-mr-2"
              [routerLink]="['/doctor/prescription', a.appointmentId]"
              ><mdb-icon fas icon="arrow-alt-circle-right"></mdb-icon> &nbsp;
              Proceed</a
            >
            <a class="dropdown-item" styleClass="p-mr-2" data-toggle="modal"
              ><mdb-icon fas icon="sync"></mdb-icon> &nbsp; Reschedule</a
            >
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
