<app-layout-sidebar></app-layout-sidebar>
<app-layout-header></app-layout-header>



<!-- <div class="page-wrapper">
  <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
  >
  </ngx-charts-bar-vertical>
</div> -->
<!-- <div class="page-wrapper" style="min-height: 448px">
  <div class="content">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
          <span class="dash-widget-bg1"
            ><i class="fa fa-stethoscope" aria-hidden="true"></i
          ></span>
          <div class="dash-widget-info text-right">
            <h3>{{doctorCount}}</h3>
            <span class="widget-title1"
              >Doctors <i class="fa fa-check" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
          <span class="dash-widget-bg2"
            ><mdb-icon fas icon="user"></mdb-icon
          ></span>
          <div class="dash-widget-info text-right">
            <h3>{{patientCount}}</h3>
            <span class="widget-title2"
              >Patients <i class="fa fa-check" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
          <span class="dash-widget-bg3"
            ><i class="fa fa-user-md" aria-hidden="true"></i
          ></span>
          <div class="dash-widget-info text-right">
            <h3>72</h3>
            <span class="widget-title3"
              >Attend <i class="fa fa-check" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
          <span class="dash-widget-bg4"
            ><i class="fa fa-heartbeat" aria-hidden="true"></i
          ></span>
          <div class="dash-widget-info text-right">
            <h3>618</h3>
            <span class="widget-title4"
              >Pending <i class="fa fa-check" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
          <span class="dash-widget-bg3"
            ><mdb-icon fas icon="clinic-medical"></mdb-icon></span>
          <div class="dash-widget-info text-right">
            <h3>{{pharmacyCount}}</h3>
            <span class="widget-title3"
              >Pharmacy <i class="fa fa-check" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
          <span class="dash-widget-bg4"
            ><mdb-icon fas icon="mortar-pestle"></mdb-icon></span>
          <div class="dash-widget-info text-right">
            <h3>{{pathologyCount}}</h3>
            <span class="widget-title4"
              >Pathology <i class="fa fa-check" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
          <span class="dash-widget-bg5"
            ><mdb-icon fas icon="hospital"></mdb-icon></span>
          <div class="dash-widget-info text-right">
            <h3>{{clinicCount}}</h3>
            <span class="widget-title5"
              >Clinic <i class="fa fa-check" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="page-wrapper">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
