<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-8 col-9 text-right m-b-20">
      <a
        [routerLink]="['../add-doctor']"
        class="btn btn-primary btn-rounded float-right"
        ><i class="fa fa-plus"></i> Add Doctor
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="card-block">
        <div class="table-responsive">
          <table
            *ngIf="doctorlist"
            datatable
            [dtOptions]="dtOptions"
            class="row-border hover"
          >
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of doctorlist">
                <th scope="row">{{ p.userId }}</th>
                <td>{{ p.firstName }}</td>
                <td>{{ p.lastName }}</td>
                <td>{{ p.gender }}</td>
                <td>{{ p.email }}</td>
                <td
                  *ngIf="p.status"
                  class="{{ doctorService.doctorStatus[p.status] }}"
                >
                  {{ doctorService.doctorStatus[p.status] }}
                </td>
                <!-- <a
                class="dropdown-item"
                [routerLink]="['/dashboard/edit-doctor', p.userId]"
                ><mdb-icon fas icon="pencil-alt"></mdb-icon> &nbsp;
                Edit</a
              >
              <a
                class="dropdown-item"
                (click)="delete(p.doctorId)"
                data-toggle="modal"
                data-target="#delete_patient"
                ><mdb-icon fas icon="trash-alt"></mdb-icon> &nbsp;
                Delete</a
              > -->

                <td class="text-right">
                  <div class="dropdown dropdown-action">
                    <a
                      class="action-icon dropdown-toggle"
                      data-toggle="dropdown"
                      aria-expanded="false"
                      ><i class="fa fa-ellipsis-v"></i
                    ></a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a
                        class="dropdown-item"
                        [routerLink]="['/dashboard/doctor-profile', p.userId]"
                        ><mdb-icon far icon="file-alt"></mdb-icon> &nbsp; Get
                        Details</a
                      >
                      <a
                        class="dropdown-item"
                        [routerLink]="['/dashboard/edit-doctor', p.userId]"
                        ><mdb-icon fas icon="pencil-alt"></mdb-icon> &nbsp;
                        Edit</a
                      >
                      <a
                        class="dropdown-item"
                        (click)="delete(p.userId)"
                        data-toggle="modal"
                        data-target="#delete_patient"
                        ><mdb-icon fas icon="trash-alt"></mdb-icon> &nbsp;
                        Delete</a
                      >
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
