<!-- <p>home works!</p> -->

<div class="c-full-slider js-full-slider">
  <div class="p-slide js-slide is-active" style="background-image: url('/assets/images/header.jpg'); position: relative;">
      <div class="p-slide-cont">
          <h3>Slide One</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, veritatis?</p>
      </div>
  </div>

  <div class="p-slide js-slide" style="background-image: url('/assets/images/header1.jpg');">
      <div class="p-slide-cont">
          <h3>Slide Two</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, veritatis?</p>
      </div>
  </div>

  <div class="p-slide js-slide" style="background-image: url('/assets/images/header2.jpg');">
      <div class="p-slide-cont">
          <h3>Slide Three</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, veritatis?</p>
      </div>
  </div>

  <button type="button" class="p-slide-arrow is-prev js-slide-prev">&lt;</button>
  <button type="button" class="p-slide-arrow is-next js-slide-next">&gt;</button>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col">
      Hello
    </div>
    <div class="col">
      Hello
    </div>
    <div class="col">
      Hello
    </div>
  </div>
</div>
