<div class="nav">
  <input type="checkbox" id="nav-check" />
  <div class="nav-header">
    <div class="nav-title">
      <a
        [routerLink]="['/pharmacy-dashboard']"
        routerLinkActive="router-link-active"
      >
        <img src="/assets/images/logo.png" alt="" height="40px" width="95xp" />
      </a>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a
      [routerLink]="['/pharmacy-dashboard']"
      routerLinkActive="router-link-active"
      >My Profile</a
    >
    <a>Add Pharmacy</a>
    <!-- <a>LinkedIn</a> -->
    <!-- <a>Codepen</a> -->
    <!-- <a  class="nav-link waves-light"  routerLinkActive="router-link-active"  mdbWavesEffect>Logout<span class="sr-only">(current)</span></a> -->

    <a *ngIf="userData.user != null && userData.user.email.length != 0" (click)="logout()" [routerLink]="['']">Logout</a>
  </div>
</div>
